.optionButton
{
    
       
       font-size: 24pt;
       color: white;
       display: flex;
       justify-content: center;
       align-items: center;
        height: 46px;
        border-radius: 44px;
        background-color: #df5e88;
        margin-top: 20px;
        padding: 0px 20px;
        font-family: yekan;
        cursor: pointer;
        border: none;
        margin:0 30px
}
.optionButtonDiv{
    width:100%;
    height:50vh;
    margin: 0 auto 0;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
}
.questionText
{
    text-align: center;
color: #e3e3e3;
font-size: 25pt;
font-family: yekan;
margin: 0;
}
@media only screen and (max-width:'500px'){
    .optionButtonDiv{

        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .optionButton
{
    margin: 10px 40px;
}
}